@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600;700;800&display=swap');


.navTitle, .completedTitle{
    position: relative;
    transition: .5s;
    font-family: 'JetBrains Mono', monospace;
}

.navTitle::before, .completedTitle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    inset: 100% 0 0 0;
    transform: scaleX(0);
    transition: transform .4s ease;
    background: linear-gradient(315deg, #D5C4AD 0%, #DDA65E 100%);
}

.navTitle:hover::before, .completedTitle::before{
    transform: scaleX(.972);
}


.navTitle:hover{
    cursor: pointer;
    color: #DDB176
}