@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap');

.description, .title{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
}

/* .description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 400px;
} */

.description, .date {
    color: #88898c;
}

.number{
    font-family: 'IM Fell Great Primer', serif;
    font-weight: 700;
    font-style: italic;
}

.date{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    transition: .3s;
    min-width: 93px;
    font-size: 12.9px;
}